@model Projet_5.Models.Entities.Brand

@{
    ViewData["Title"] = "Create";
}
<h1 class=" titre-h1 text-center mt-4">Ajouter une nouvelle marque</h1>
<hr/>
<div class="d-flex justify-content-center mt-4">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group mb-3">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group text-center">
                <input type="submit" value="Créer" class="btn-cta" />
            </div>
        </form>

        <div class="text-center mt-3">
            <a asp-action="Index" style="color:black;">Retour</a>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
