@model Projet_5.Models.Entities.Brand

@{
    ViewData["Title"] = "Delete";
}
<h1 class="text-center mt-5">Supprimer la marque</h1>
<hr />
<div class="text-center mt-5">

    <h3 class="mb-4" style="font-family: var(--body-font); color: var(--brunTexte); font-size: 1.2rem;">
        Voulez-vous vraiment supprimer : <strong>@Model.Name</strong> ?
    </h3>

    <div>
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
                <input type="submit" value="Supprimer" class="btn-cta form-CRUD-btn btn-suppr" style="width:100px" />
                <a asp-action="Index" style="color:black">Retour</a>
        </form>
    </div>
</div>
