@model IEnumerable<Projet_5.Models.Entities.Brand>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center mt-5 mb-4">Les marques</h1>
<p class="text-center mb-5">
    <a asp-action="Create" class="btn-cta mb-3">+ Ajouter une nouvelle marque</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" style="color:black">Modifier</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" style="color:black">Supprimer</a>
            </td>
        </tr>
}
    </tbody>
</table>
