@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

html {
    font-size: 16px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
  position: relative;
  min-height: 100%;
}


/* Design System */
:root {
    /* Colors */
    --orange: #D9A963;
    --brunTexte: #2C1810;
    --brunTitre: #796157;
    --noir: #000000;
    /* Text configuration */
    --body-font: 'DM Sans';
    --title-font: 'Libre Baskerville';
    --body-font-size: 1rem;
    --h1-font-size: 2rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --fw-bold: 700;
}
body {

    font-family: var(--body-font);
    font-size: var(--body-font-size);
    color: var(--brunTexte);
}
h1 {
    font-family: var(--title-font);
    font-style: italic;
    font-size: var(--h1-font-size);
    color: var(--brunTitre);
}
h2 {
    font-family: var(--title-font);
    font-style: italic;
    font-size: var(--h2-font-size);
    color: var(--brunTexte);
}
h3 {
    font-family: var(--title-font);
    font-style: italic;
    font-size: var(--h3-font-size);
    color: var(--brunTexte);
}
.menu {
    font-family: var(--title-font) !important;
    color: var(--noir) !important;
}
.logo {
    font-family: var(--title-font); 
    font-size: var(--h3-font-size);
    font-weight: 600;
    color: var(--noir);
}

.prixIndex {
    font-family: var(--body-font);
    font-size: var(--h2-font-size);
    font-weight: 500;
    color: var(--brunTexte);
}
.index {
    font-family: var(--body-font);
    font-size: var(--body-font);
    color: var(--brunTitre);
}
.btn-cta {
    background-color: var(--orange);
    color: var(--brunTexte);
    font-family: var(--body-font);
    border-radius: 6px;
    padding: 13px 10px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    text-decoration: none;
}
    .btn-cta:hover,
    .btn-cta:focus {
        background-color: #bc883b;
        color: var(--brunTitre);
        text-decoration: none;
    }
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
}

.logo-container, .login-actions {
    text-align: center;
    width: 100%;
}





