@model ExpressVoitures.Models.Entities.Car

@{
	ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Car</h4>
<hr />
<div class="row">
	<div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div>
                <label asp-for="SellingPrice"></label>
                <input asp-for="SellingPrice" class="form-control" />
            </div>
            <div>
                <label asp-for="Year"></label>
                <input asp-for="Year" class="form-control" />
            </div>
            <div>
                <label asp-for="BrandId"></label>
                <select asp-for="BrandId" asp-items="@(new SelectList(ViewBag.Brands, "Id", "Name"))" class="form-control"></select>
            </div>
            <div>
                <label asp-for="ModelId"></label>
                <select asp-for="ModelId" asp-items="@(new SelectList(ViewBag.Models, "Id", "Name"))" class="form-control"></select>
            </div>
            <div>
                <label asp-for="Finish"></label>
                <input asp-for="Finish" class="form-control" />
            </div>
            @* <div>
                <label for="carImageFile">Image</label>
                <input type="file" name="carImageFile" class="form-control" />
            </div> *@
            <button type="submit">Créer</button>
        </form>
	</div>
</div>

<div>
	<a asp-action="Index">Back to List</a>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
