@model ExpressVoitures.Models.Entities.Car

@{
    ViewData["Title"] = "Ajout validé";
}

<div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 70vh; text-align: center;">
    <h2 class="fw-semibold" style="font-size: 2rem; font-style: italic; color: var(--brunTitre);">Merci !</h2>
    <p style="margin-top: 0.5rem; font-size: 1.2rem; color:var(--brunTitre); font-style: italic"> Votre voiture a bien été publiée</p>
    <a asp-action="Index" class="btn-cta">Retour à l’accueil</a>
</div>