@model ExpressVoitures.Models.Entities.Car

@{
    ViewData["Title"] = "Create";
}

<div class="form-CRUD-page">
    <h1 class="form-CRUD-title">Ajouter une voiture</h1>
    <div class="form-CRUD-subtitle">Tous les champs sont obligatoires</div>

    <div class="form-CRUD">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                <label asp-for="SellingPrice"></label>
                <input asp-for="SellingPrice" class="form-control" />
                <span asp-validation-for="SellingPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Year"></label>
                <input asp-for="Year" class="form-control no-spin" type="number" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BrandId"></label>
                <select asp-for="BrandId" asp-items="@(new SelectList(ViewBag.Brands, "Id", "Name"))" class="form-control"></select>
                <span asp-validation-for="BrandId" class="text-danger"></span>
                <a asp-controller="Brands" asp-action="Index" class="form-CRUD-back">Ajouter une marque</a>

            </div>
            <div class="form-group">
                <label asp-for="ModelId"></label>
                <select asp-for="ModelId" asp-items="@(new SelectList(ViewBag.Models, "Id", "Name"))" class="form-control"></select>
                <span asp-validation-for="ModelId" class="text-danger"></span>
                <a asp-controller="Models" asp-action="Index" class="form-CRUD-back">Ajouter un modèle</a>
            </div>
            <div class="form-group">
                <label asp-for="Finish"></label>
                <input asp-for="Finish" class="form-control" />
                <span asp-validation-for="Finish" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl" class="control-label"></label>
                <div class="form-CRUD-upload">
                    <input type="file" name="imageFile" class="form-control form-CRUD-file" />
                    <span asp-validation-for="ImageUrl" class="text-danger"></span>
                </div>
            </div>

            <button type="submit" class="btn-cta form-CRUD-btn">Publier</button>
        </form>
    </div>
    <div>
        <a asp-action="Index" class="form-CRUD-back">Retour</a>
    </div>
</div>
