@model ExpressVoitures.Models.Entities.Car

@{
    ViewData["Title"] = "Ajout validé";
}

<div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 70vh; text-align: center;">
    <h1 class="titre-h1 mb-4">Merci !</h1>
    <h3 class="titre-h3-noir mb-4" style="font-size:1rem"> Votre voiture a bien été publiée</h3>
    <a asp-action="Index" class="btn-cta">Retour à l’accueil</a>
</div>