@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Confirmation d'email";
}

<div class="d-flex justify-content-center mt-5">
    <div class="text-center p-4 border rounded shadow-sm" style="max-width: 600px;">
        <h1 class="mb-4">@ViewData["Title"]</h1>
        <p>
            Ce site n'a pas encore un système de confirmation d'email en place,<br />
            mais vous pouvez utiliser le lien ci-dessous pour confirmer votre compte manuellement afin de pouvoir accéder au site.
        </p>
        <a id="confirm-link" href="@Model.EmailConfirmationUrl" class="btn-cta">
            Confirmer mon email
        </a>
    </div>
</div>
